a {
  text-decoration: none;
  color: inherit;
}

.movielist {
  width: 250px;
  padding: 0 10px;
  margin-right: 15px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in;
}

.movielist:hover {
  transform: scale(1.1);
}

.cover {
  display: block;
  margin: auto;
  box-shadow: 10px 10px 10px 0px rgba(191, 191, 191, 1);
}

.movieTitle {
  margin: 0;
  margin-top: 20px;
  font-size: large;
  font-weight: bold;
}

.movieYear {
  margin: 5px 0;
}

@media screen and (max-width: 798px) {
  .movielist {
    margin: auto;
  }
}
