.contents {
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  color: #262223;
  border-radius: 5px;
}

.metadata {
  display: flex;
  padding: 15px;
}

.thumbnail {
  border-radius: 3px;
  box-shadow: 10px 10px 10px 0px rgba(194, 194, 194, 1);
}

.movieInfo {
  margin-left: 40px;
}

.genre {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #262223;
  padding: 8px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

.genre:hover {
  background-color: #262223;
  color: #ddc6b6;
  cursor: default;
}

.description {
  line-height: 1.5em;
}

.back {
  display: block;
  margin: 30px auto;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

@media screen and (max-width: 700px) {
  .contents {
    width: 400px;
  }

  .metadata {
    flex-direction: column;
  }

  .thumbnail {
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
  }

  .movieInfo {
    margin-left: 0;
  }

  .title {
    font-size: 23px;
  }
}
