.movieList {
  margin: 20px;
}

.title {
  margin: 50px 0 30px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.title:hover {
  color: dodgerblue;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 798px) {
  .title {
    text-align: center;
  }
}
